services:
  - type: web
    name: whatsapp-server
    runtime: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: API_KEY
        value: aFmMZeEzwdvtUbljVXNs3Co49TJBfL2OWPnYkGqR
